.App-grid {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 4em;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-cell {
  width: 3em;
  height: 3em;
  border: 1px solid #000;
  border-radius: 0.25em;
  margin: auto;
}

.App-input {
  width: 3em;
  height: 3em;
  border: none;
  text-align: center;
}

.App-cell.result, .App-cell.result input {
  background-color: #eee;
}
