.App-grid {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.App-cell {
  width: calc(25% - 2px);
  height: 10em;
  border: 1px solid #000;
  margin: auto;
}

.App-input {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: none;
  text-align: center;
}

.App-cell.result {
  background-color: #eee;
  vertical-align: middle;
}


@media screen and (max-width: 720px) {
  .App-cell {
    width: calc(50% - 2px);
    height: 10em;
    border: 1px solid #000;
    margin: auto;
  }

  .App-input {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: none;
    text-align: center;
  }
}

@media screen and (max-width: 360px) {
  .App-grid {
    flex-direction: column;
  }

}
